[submodule "dependencies/freetype"]
	path = dependencies/freetype
	url = https://github.com/freetype/freetype.git
[submodule "dependencies/SQLiteCpp"]
	path = dependencies/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
